div {
    border: 5px;
    margin: 10px;
    padding: 20 px;
    display: block;
}

h1 {
    color: pink;
    background-color: darkgray;
}

p {
    background-color: black;
    color: white;
}

img {
    width: 350px;
    display: inline;
    padding-left: 60px;
}

.fahad {
    color: yellow;
    background-color: blue;
    text-align: center;
    border: 5px solid red;
}